<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skhu.NWFA.sejongGame.sejongDao.Dao">
	<select id="isLock" resultType="int">
		select count(*) from UserStages
		where user_id = #{user_id} and gameNum = #{gameNum1} and
		isLock = 1
	</select>
</mapper>