<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skhu.NWFA.sejongGame.sejongDao.sejongDao">
	<select id="example"
		resultType="com.skhu.NWFA.sejongGame.sejongModel.syllablesModel">
		select * from syllables order by rand()
	</select>

	<select id="sejongWords"
		resultType="com.skhu.NWFA.sejongGame.sejongModel.wordsModel">
		select * from words where word_id = #{id}
	</select>

</mapper>