<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skhu.NWFA.sejongGame.sejongDao.sejongDao">
	<select id="example"
		resultType="com.skhu.NWFA.sejongGame.sejongModel.syllablesModel">
		select * from Syllables order by rand() Limit #{count}
	</select>

	<select id="sejongWords"
		resultType="com.skhu.NWFA.sejongGame.sejongModel.wordsModel">
		select word_id, justice, mean, gameNum, stage_id from
		Word
		where stage_id = #{stage_id} and word_id = #{word_id} and gameNum =
		#{gameNum}
	</select>

	<select id="sejongStage"
		resultType="com.skhu.NWFA.sejongGame.sejongModel.stageModel">
		SELECT * FROM SejongStage WHERE User_user_id = #{user_id};
	</select>

	<select id="sejongStageAll"
		resultType="com.skhu.NWFA.sejongGame.sejongModel.stageModel">
		SELECT * FROM SejongStage
	</select>

	<update id="stageLockUpdate" parameterType="int">
		UPDATE SejongStage
		SET open_game = 1
		WHERE Sejong_Word_word_id =
		#{stageId} And
		User_user_id = #{userId}
	</update>

	<select id="loginUser"
		resultType="com.skhu.NWFA.user.userModel.userModel"
		parameterType="string">
		SELECT * FROM User WHERE login_id = #{id}
	</select>

	<update id="starUpdate" parameterType="int">
		UPDATE SejongStage SET
		star = 3
		WHERE stage_id = #{stageId} and User_user_id = #{User_user_id}
	</update>

	<update id="setStar">
		UPDATE SejongStage SET star = #{star}
		WHERE login_id =
		#{user_id}
	</update>

	<select id="selectUserStage"
		resultType="com.skhu.NWFA.user.userModel.userStages">
		SELECT * FROM UserStages
		where user_id=#{user_id} and
		gameNum=1
	</select>

	<select id="LobbyWords"
		resultType="com.skhu.NWFA.sejongGame.sejongModel.wordsModel">
		SELECT word_id, justice, mean, gameNum, stage_id from Word
		WHERE stage_id = #{stage} and gameNum = 1
	</select>
</mapper>