<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
						"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.skhu.NWFA.yaminGame.yaminDao.yaminDao">
	<select id="example"
		resultType="com.skhu.NWFA.yaminGame.yaminModel.syllablesModel">
		select * from Syllables order by rand() Limit #{count}
	</select>

	<select id="yaminWords"
		resultType="com.skhu.NWFA.yaminGame.yaminModel.wordsModel">
		SELECT word_id, justice, mean, gameNum, img, stage_id,
		question
		FROM Word
		WHERE stage_id = #{yaminStageId} AND gameNum =
		#{gameNum}
	</select>

	<select id="loginUser"
		resultType="com.skhu.NWFA.user.userModel.userModel"
		parameterType="string">
		SELECT * FROM User WHERE login_id = #{login_id}
	</select>

	<update id="yaminWordsCorrect">
		UPDATE UserWords SET answer = #{answer},isCorrect = 1
		WHERE
		gameNum =
		#{gameNum} AND stage_id = #{yaminStageId} AND user_id =
		#{user_id} AND
		word_id= #{word_id}
	</update>

	<update id="yaminWordsSave">
		UPDATE UserWords SET answer = #{answer}, isCorrect =
		0 WHERE
		gameNum
		=
		#{gameNum} AND stage_id = #{yaminStageId} AND user_id =
		#{user_id}
		AND word_id= #{word_id}
	</update>

	<select id="yaminWrongNote"
		resultType="com.skhu.NWFA.yaminGame.yaminModel.yaminWordsModel">
		SELECT Word.word_id, Word.justice, Word.mean, Word.gameNum,
		Word.year, Word.img,
		Word.stage_id,UserWords.answer,UserWords.isCorrect,
		Word.question
		FROM
		Word
		JOIN UserWords
		ON Word.word_id =
		UserWords.word_id
		WHERE
		UserWords.user_id = #{user_id} AND Word.stage_id = #{yaminStageId} AND
		Word.gameNum = 2
	</select>

	<update id="setScore">
		UPDATE UserStages SET score = #{score} WHERE
		gameNum =
		#{gameNum} AND stage_id = #{stage_id} AND user_id =
		#{user_id}
	</update>

	<select id="selectUserStage"
		resultType="com.skhu.NWFA.user.userModel.userStages">
		SELECT * FROM UserStages
		where user_id = #{user_id} and
		gameNum = 2
	</select>

	<update id="stageLockUpdate" >
		UPDATE UserStages
		SET
		isLock = 1
		WHERE stage_id =
		#{stageId} And
		user_id = #{userId} AND
		gameNum = 2
	</update>
</mapper>